.error-page {
    margin-left: 40px
}

.oops {
    font-size: 145px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #222;
}

.explain {
    color: #222;
    font-size: 32px;
    margin-bottom: 10px;
}

.error-code {
    font-size: 14px;
    font-weight: bold;
    color: #767676;
    margin-bottom: 10px;
}

.link-to-home {
    text-decoration: none;
    cursor: pointer;
    color: #008489
}

.link-to-home:hover {
    text-decoration: underline;
}
