.review-title {
    font-size: 28px;
    text-align: center;
    color: #222;
    padding-top: 40px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.star-rating {
    padding-bottom: 20px;
}

.review-detail {
    outline: none;
    color: #222;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 40px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.review-detail:focus {
    border: 2px solid #222222;
}

/* REVIEW STARS */
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: #f1a545
}

.off {
    color: #ccc;
}
