.review-title {
    font-size: 28px;
    text-align: center;
    color: #222;
    padding: 40px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.select-rating {
    padding-bottom: 20px;
    color: #222;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.review-detail {
    outline: none;
    color: #222;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.review-detail:focus {
    border: 2px solid #222222;
}
