#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #dddddd;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #DDDDDD;
    min-width: 600px;
    /* min-height: 440px; */
    min-height: 510px;
}
