.new-listing-container {
    margin: auto;
    max-width: 1280px;
    position: relative;
}

#createListingTitle {
    color: #222222;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.createListing-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 500px;

    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #dddddd;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #DDDDDD;
    min-width: 700px;
}

.label {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}

.create-input {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #717171;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.description {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
    height: 100px
}

.create-btn {
    background-color: #e31c5f;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 40px
}

.create-btn:hover {
    transition: linear-gradient(to right, #BD1E59 0%, #92174D 50%, #861453 100%)
}

.create-input:focus {
    border: 2px solid #222222
}

.error-render {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 10px;
    color: rgb(246, 18, 18);
}
