.sign-up {
    color: #222222;
    font-size: 28px;
    text-align: center;
    padding: 20px;
}


/* .signup-form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
} */

.signup-form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.signup-input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #717171;
    border-bottom: none;
    outline: none;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign-up-input {
    border: 2px solid #222222
}

.border {
    border: 1px solid#717171;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none
}

.border-bottom {
    border: 1px solid #717171;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signup-btn {
    background-color: #e31c5f;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-btn:hover {
    transition: linear-gradient(to right, #BD1E59 0%, #92174D 50%, #861453 100%);
}

.error-render {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 10px;
    color: rgb(246, 18, 18);
}
