h3 {
    color: #222;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 25px
}

h2 {
    color: #222;
    font-size: 28px;
    padding: 30px
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.input {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px
}

.border-top {
    border: 1px solid #717171;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none
}

.border-bottom {
    border: 1px solid #717171;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-btn {
    background-color: #e31c5f;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 18px;
}

.login-btn:hover {
    /* transition: linear-gradient(to right, #BD1E59 0%, #92174D 50%, #861453 100%); */
    transition: opacity 1.25s ease 0s;
}
